<% if @champion.present? %>
<div class="row large_margin_bottom">
  <div class="col-xs-2">
    <img src="<%= @champion.image %>" alt="<%= @champion.name %>" class="img-responsive"/>
  </div>
  <div class="col-xs-10">
    <h1><%= @champion.name %> <small>(<%= @role.capitalize %>)</small></h1>
    <h4>Comparing <%= @summoner_name %>'s last
      <% if @user_stats %><%= @user_stats[:count] %><% else %>0<% end %>
      ranked matches <% if @user_stats %>
                      <% if @user_stats[:win_rate] > 0.50 %>
                        <strong class="cyan">
                      <% else %>
                        <strong class="orange">
                      <% end %>
                      (<%= number_to_percentage(@user_stats[:win_rate] * 100, precision: 1) %> win rate)</strong>
                     <% end %> with
      <% if @average_stats %>
        <%= @average_stats[:count] %>
      <% else %>
        0
      <% end %> <%= @tier.capitalize %>-level <% if @only_wins %>victorious <% end %>matches.</h4>
  </div>
</div>
<% end %>
<div class="row large_margin_bottom">
  <div class="col-sm-4">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= @user_stats[:kda] %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= @average_stats[:kda] %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="KDA"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
  <div class="col-sm-4">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= number_with_precision(@user_stats[:kill_participation] * 100, precision: 1) %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= number_with_precision(@average_stats[:kill_participation] * 100, precision: 1) %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="Kill Participation"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"
                             data-number-decorator="%"></div>
  </div>
  <div class="col-sm-4">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= number_with_precision(60 * @user_stats[:total_cs] / @user_stats[:duration], precision: 1) %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= number_with_precision(60 * @average_stats[:total_cs] / @average_stats[:duration], precision: 1) %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="CS/min"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
</div>

<div class="row large_margin_bottom">
  <!-- <div class="col-sm-3">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= @user_stats[:total_damage_dealt_champs]/@user_stats[:total_damage_taken] %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= @average_stats[:total_damage_dealt_champs]/@average_stats[:total_damage_taken] %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="Champ Damage/Taken"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div> -->
  <div class="col-sm-3">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= number_with_precision(@user_stats[:death_participation] * 100, precision: 1) %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= number_with_precision(@average_stats[:death_participation] * 100, precision: 1) %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="Death Participation"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"
                             data-number-decorator="%"
                             data-inverse-superiority="true"></div>
  </div>
  <div class="col-sm-3">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= number_with_precision(@user_stats[:structure_participation] * 100, precision: 1) %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= number_with_precision(@average_stats[:structure_participation] * 100, precision: 1) %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="Structure Participation"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"
                             data-number-decorator="%"></div>
  </div>
  <div class="col-sm-3">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= @user_stats[:wards_placed] %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= @average_stats[:wards_placed] %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="Wards Placed"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
  <div class="col-sm-3">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= @user_stats[:wards_killed] %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= @average_stats[:wards_killed] %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="Wards Killed"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
</div>

<div class="row large_margin_bottom">
  <div class="col-sm-3">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= @user_stats[:monsters_team_jungle] %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= @average_stats[:monsters_team_jungle] %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="Team Jungle Camps"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
  <div class="col-sm-3">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= @user_stats[:monsters_enemy_jungle] %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= @average_stats[:monsters_enemy_jungle] %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="Enemy Jungle Camps"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
  <div class="col-sm-3">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= @user_stats[:team_dragon_kills] %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= @average_stats[:team_dragon_kills] %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="Dragons"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
  <div class="col-sm-3">
    <div class="build_donut" <% if @user_stats %>
                             data-user-value="<%= @user_stats[:team_baron_kills] %>"
                             <% else %>
                             data-user-value="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value="<%= @average_stats[:team_baron_kills] %>"
                             <% else %>
                             data-comparison-value="0"
                             <% end %>
                             data-chart-title="Barons"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
</div>

<div class="row large_margin_bottom">
  <div class="col-sm-4">
    <div class="build_line" <% if @user_stats %>
                             data-user-value-0-10="<%= @user_stats[:cs_per_min][:zero_ten] %>"
                             data-user-value-10-20="<%= @user_stats[:cs_per_min][:ten_twenty] %>"
                             data-user-value-20-30="<%= @user_stats[:cs_per_min][:twenty_thirty] %>"
                             data-user-value-30-end="<%= @user_stats[:cs_per_min][:thirty_end] %>"
                             <% else %>
                             data-user-value-0-10="0"
                             data-user-value-10-20="0"
                             data-user-value-20-30="0"
                             data-user-value-30-end="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value-0-10="<%= @average_stats[:cs_per_min][:zero_ten] %>"
                             data-comparison-value-10-20="<%= @average_stats[:cs_per_min][:ten_twenty] %>"
                             data-comparison-value-20-30="<%= @average_stats[:cs_per_min][:twenty_thirty] %>"
                             data-comparison-value-30-end="<%= @average_stats[:cs_per_min][:thirty_end] %>"
                             <% else %>
                             data-comparison-value-0-10="0"
                             data-comparison-value-10-20="0"
                             data-comparison-value-20-30="0"
                             data-comparison-value-30-end="0"
                             <% end %>
                             data-chart-title="CS/min"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
  <div class="col-sm-4">
    <div class="build_line" <% if @user_stats %>
                             data-user-value-0-10="<%= @user_stats[:cs_diff][:zero_ten] %>"
                             data-user-value-10-20="<%= @user_stats[:cs_diff][:ten_twenty] %>"
                             data-user-value-20-30="<%= @user_stats[:cs_diff][:twenty_thirty] %>"
                             data-user-value-30-end="<%= @user_stats[:cs_diff][:thirty_end] %>"
                             <% else %>
                             data-user-value-0-10="0"
                             data-user-value-10-20="0"
                             data-user-value-20-30="0"
                             data-user-value-30-end="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value-0-10="<%= @average_stats[:cs_diff][:zero_ten] %>"
                             data-comparison-value-10-20="<%= @average_stats[:cs_diff][:ten_twenty] %>"
                             data-comparison-value-20-30="<%= @average_stats[:cs_diff][:twenty_thirty] %>"
                             data-comparison-value-30-end="<%= @average_stats[:cs_diff][:thirty_end] %>"
                             <% else %>
                             data-comparison-value-0-10="0"
                             data-comparison-value-10-20="0"
                             data-comparison-value-20-30="0"
                             data-comparison-value-30-end="0"
                             <% end %>
                             data-chart-title="CS/min Diff"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
  <div class="col-sm-4">
    <div class="build_line" <% if @user_stats %>
                             data-user-value-0-10="<%= @user_stats[:gold_per_min][:zero_ten] %>"
                             data-user-value-10-20="<%= @user_stats[:gold_per_min][:ten_twenty] %>"
                             data-user-value-20-30="<%= @user_stats[:gold_per_min][:twenty_thirty] %>"
                             data-user-value-30-end="<%= @user_stats[:gold_per_min][:thirty_end] %>"
                             <% else %>
                             data-user-value-0-10="0"
                             data-user-value-10-20="0"
                             data-user-value-20-30="0"
                             data-user-value-30-end="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value-0-10="<%= @average_stats[:gold_per_min][:zero_ten] %>"
                             data-comparison-value-10-20="<%= @average_stats[:gold_per_min][:ten_twenty] %>"
                             data-comparison-value-20-30="<%= @average_stats[:gold_per_min][:twenty_thirty] %>"
                             data-comparison-value-30-end="<%= @average_stats[:gold_per_min][:thirty_end] %>"
                             <% else %>
                             data-comparison-value-0-10="0"
                             data-comparison-value-10-20="0"
                             data-comparison-value-20-30="0"
                             data-comparison-value-30-end="0"
                             <% end %>
                             data-chart-title="Gold/min"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
</div>

<div class="row large_margin_bottom">
  <div class="col-sm-4">
    <div class="build_line" <% if @user_stats %>
                             data-user-value-0-10="<%= @user_stats[:xp_per_min][:zero_ten] %>"
                             data-user-value-10-20="<%= @user_stats[:xp_per_min][:ten_twenty] %>"
                             data-user-value-20-30="<%= @user_stats[:xp_per_min][:twenty_thirty] %>"
                             data-user-value-30-end="<%= @user_stats[:xp_per_min][:thirty_end] %>"
                             <% else %>
                             data-user-value-0-10="0"
                             data-user-value-10-20="0"
                             data-user-value-20-30="0"
                             data-user-value-30-end="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value-0-10="<%= @average_stats[:xp_per_min][:zero_ten] %>"
                             data-comparison-value-10-20="<%= @average_stats[:xp_per_min][:ten_twenty] %>"
                             data-comparison-value-20-30="<%= @average_stats[:xp_per_min][:twenty_thirty] %>"
                             data-comparison-value-30-end="<%= @average_stats[:xp_per_min][:thirty_end] %>"
                             <% else %>
                             data-comparison-value-0-10="0"
                             data-comparison-value-10-20="0"
                             data-comparison-value-20-30="0"
                             data-comparison-value-30-end="0"
                             <% end %>
                             data-chart-title="XP/min"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
  <div class="col-sm-4">
    <div class="build_line" <% if @user_stats %>
                             data-user-value-0-10="<%= @user_stats[:xp_diff][:zero_ten] %>"
                             data-user-value-10-20="<%= @user_stats[:xp_diff][:ten_twenty] %>"
                             data-user-value-20-30="<%= @user_stats[:xp_diff][:twenty_thirty] %>"
                             data-user-value-30-end="<%= @user_stats[:xp_diff][:thirty_end] %>"
                             <% else %>
                             data-user-value-0-10="0"
                             data-user-value-10-20="0"
                             data-user-value-20-30="0"
                             data-user-value-30-end="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value-0-10="<%= @average_stats[:xp_diff][:zero_ten] %>"
                             data-comparison-value-10-20="<%= @average_stats[:xp_diff][:ten_twenty] %>"
                             data-comparison-value-20-30="<%= @average_stats[:xp_diff][:twenty_thirty] %>"
                             data-comparison-value-30-end="<%= @average_stats[:xp_diff][:thirty_end] %>"
                             <% else %>
                             data-comparison-value-0-10="0"
                             data-comparison-value-10-20="0"
                             data-comparison-value-20-30="0"
                             data-comparison-value-30-end="0"
                             <% end %>
                             data-chart-title="XP/min Diff"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
  <div class="col-sm-4">
    <div class="build_line" <% if @user_stats %>
                             data-user-value-0-10="<%= @user_stats[:damage_taken_diff][:zero_ten] %>"
                             data-user-value-10-20="<%= @user_stats[:damage_taken_diff][:ten_twenty] %>"
                             data-user-value-20-30="<%= @user_stats[:damage_taken_diff][:twenty_thirty] %>"
                             data-user-value-30-end="<%= @user_stats[:damage_taken_diff][:thirty_end] %>"
                             <% else %>
                             data-user-value-0-10="0"
                             data-user-value-10-20="0"
                             data-user-value-20-30="0"
                             data-user-value-30-end="0"
                             <% end %>
                             <% if @average_stats %>
                             data-comparison-value-0-10="<%= @average_stats[:damage_taken_diff][:zero_ten] %>"
                             data-comparison-value-10-20="<%= @average_stats[:damage_taken_diff][:ten_twenty] %>"
                             data-comparison-value-20-30="<%= @average_stats[:damage_taken_diff][:twenty_thirty] %>"
                             data-comparison-value-30-end="<%= @average_stats[:damage_taken_diff][:thirty_end] %>"
                             <% else %>
                             data-comparison-value-0-10="0"
                             data-comparison-value-10-20="0"
                             data-comparison-value-20-30="0"
                             data-comparison-value-30-end="0"
                             <% end %>
                             data-chart-title="Damage Taken Diff"
                             data-summoner-name="<%= @summoner.summoner_name %>"
                             data-comparison-title="<%= @tier.capitalize %>"></div>
  </div>
</div>
